/* body{
    background-image: url('REHMAN.png');
    background-position: center center;
    background-repeat: no-repeat;
    
  }
 h1 {
    height: 10px;
    width: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    background-color: aqua;
  }
  .button {
    background-color: aquamarine;

  }
  button {
    background-color: aqua;
  } */